*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: firebrick;
  background-color: bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

.container {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1 {
  font-size: 2.25rem;
  text-decoration: underline;
}

h2 {
  font-size: 1.625rem;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 3rem;
  border-bottom: 2px solid;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid;
}

ol,
ul {
  padding-left: 3rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
}

.nav-grid {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0;
  gap: 20px;
}

figure {
  height: 160px;
  width: 240px;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);
    border: 4px solid transparent;
}

figure:hover {
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
  0 5px 14px 0 rgba(0, 0, 0, 0.18);
}

figure > img {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  box-shadow: none;
}

figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: rgba(255, 228, 196, 0.79);
  font-weight: bold;
}

img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
  max-width: 400px;
  margin-bottom: 1rem;
  box-shadow: 0 26px 58px 0 rgba(0, 0, 0, 0.22),
  0 5px 14px 0 rgba(0, 0, 0, 0.18);
}

a {
  color: inherit;
}

a:hover {
  color: red;
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -3px 6px, rgba(0, 0, 0, 0.16) 0px -3px 6px;
}

footer>p {
  text-align: center;
}
