*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.375;
  color: firebrick;
  background-color: bisque;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h1 {
  font-size: 2.25rem;
  text-decoration: underline;
}

h2 {
  font-size: 1.625rem;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 3rem;
  border-bottom: 2px solid;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid;
}

ol,
ul {
  padding-left: 3rem;
  margin-bottom: 1rem;
}

ul {
  list-style-type: disc;
}

.nav {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

img {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: auto;
  max-width: 400px;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

a {
  color: inherit;
}

a:hover {
  color: red;
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.23) 0px -3px 6px, rgba(0, 0, 0, 0.16) 0px -3px 6px;
}

footer>p {
  text-align: center;
}
